<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Broccoli Blog</title>
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body>
    <div th:insert="~{header :: header}"></div>
    <h1>Welcome to the Broccoli Blog</h1>
    <div>
        <a href="/entries/new">Add</a>
    </div>
    <ul>
        <li th:each="entry:${entries}">
            <a th:href="|/entries/${entry.id}|" th:text="${entry.title}"></a>
        </li>
    </ul>
</body>
</html>